<br>
<br>
<div class="container" data-comment="<%= @comment.id %>">
  <div class="row">
  <div class="col-2">
    <p class="comment-p" style="margin-bottom: 0">login: <%= @comment.user.login %></p>
    <%= image_tag "#{@comment.user.avatar.versions[:preview]}", class: "img-thumbnail" %>
  </div>
  <div class="col-6 align-self-end" style="border: #DEDEE0 solid 1px; border-radius: 6px; word-break: break-all">
    <p class="comment-p"><%= @comment.body %></p>
  </div>
</div>

<div class="row">
  <div class="col-4 offset-2">
    <span class="comment-p">answered: <%= @answer.user.login %></span>
  </div>
  <div class="col-2 offset-1">

  </div>
</div>
</div>
