<nav class="head_navbar navbar navbar-expand-lg row" >

  <div class="col-3 text-center">
    <h3><%= image_tag("ruby-clip-art-20.png", width: "36", height: "36", alt: "Ruby logo") %>
      <u style="color: black">Forum Ruby developers</u>
    </h3>
  </div>

   <div class="collapse navbar-collapse col-9 justify-content-end" id="navbarNavDropdown" >
     <ul class="navbar-nav">
       <li class="nav-item active">
         <a class="nav-link" href="<%= root_path %>">Home <%= image_tag('home (1).png', width: "24", height: "24") %>
           <span
           class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Rules <%= image_tag('text-box.png', width: "24", height: "24") %></a>
       </li>
       <li class="nav-item" >
         <a class="nav-link" href="<%= categories_path %>">Topics <%= image_tag('baseline_wysiwyg_black_48dp.png', width: "24",
                                                                  height:
             "24")
         %></a>
       </li>
       <% if logged_in? %>
         <li class="dropdown nav-item">
           <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Account <%= image_tag('account.png', width: "24", height: "24")
           %></a>
           <ul class="dropdown-menu dropdown-menu-right" style="text-align: right;">
             <li><a href="<%= user_path(current_user[:id]) %>" class="dropdown-item">Profile
               <%= image_tag('account-edit.png', width: "24", height: "24")%></a></li>
             <div class="dropdown-divider"></div>
             <li>
               <%= link_to logout_path, method: "delete", class: "dropdown-item", data: {confirm: 'Are you sure?'} do %>Log out
                 <%= image_tag "account-cancel (1).png", width: "24", height: "24" %>
               <% end %>
             </li>
           </ul>
         </li>
       <% else %>
         <li class="nav-item">
           <a class="nav-link" href="<%= login_path %>">Log in <%= image_tag('account-search.png', width: "24", height: "24")
           %></a>
         </li>
         <li class="nav-item" >
           <a class="nav-link" href="<%= new_user_path %>">Sign up <%= image_tag('account-plus.png', width: "24", height: "24")
           %></a>
         </li>
       <% end %>

       <% if logged_in? && current_user.admin? %>
       <li class="dropdown nav-item">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
         <ul class="dropdown-menu dropdown-menu-right" style="text-align: center;">
          <li>
            <%= link_to "Users", admin_users_path, class: "dropdown-item" %>
          </li>
           <li>
             <%= link_to "Topics", admin_categories_admin_path, class: "dropdown-item" %>
           </li>
         </ul>
       </li>
       <% end %>

     </ul>
   </div>
 </nav>





