<!DOCTYPE html>
<html>
  <head>
    <title>ForumRails</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container-fluid" style="padding: 0 ">
      <%= render "layouts/header" %>
  </div>

  <div class="container">
    <%= render "layouts/flash" %>
  </div>

  <div class="container">
      <%= yield %>
  </div>

  <div class="container-fluid" style="margin-top: 100px">
      <%= render "layouts/footer" %>
  </div>
  </body>
  <%= debug(params)  %>
</html>
